@charset "UTF-8";
@import url(reset.css);
.header {
  background-color: #fece02;
  padding-top: 0.16rem;
  padding-bottom: 0.16rem; }
  .header .logo {
    margin-top: 0.06rem; }
    .header .logo img {
      width: 0.64rem;
      height: 0.62rem; }
  .header .search {
    position: relative; }
    .header .search #search-sumbit {
      width: 0.38rem;
      height: 0.36rem;
      background-image: url("../images/search.png");
      background-color: transparent;
      background-size: cover;
      border: none;
      outline: none;
      position: absolute;
      top: 0.19rem;
      left: 15px;
      transform: translateX(0.22rem); }
    .header .search #search {
      width: 100%;
      height: 0.69rem;
      border: none;
      outline: none;
      font-size: 0.3rem;
      border-radius: 0.3rem;
      background-color: rgba(255, 255, 255, 0.5);
      padding-left: 0.84rem; }
  .header #search::placeholder {
    font-size: 0.3rem;
    color: #ffffff; }
  .header .scan {
    margin-top: 0.14rem; }
    .header .scan img {
      width: 0.43rem;
      height: 0.4rem; }
  .header .notification {
    margin-top: 0.14rem; }
    .header .notification img {
      width: 0.38rem;
      height: 0.42rem; }

.footer {
  padding-top: 0.14rem;
  padding-bottom: 0.14rem;
  background-color: #ffffff;
  border-top: 1px solid #d3d3d3;
  position: fixed;
  bottom: 0;
  width: 100%; }
  .footer .nav a {
    margin: 0 auto;
    text-align: center;
    text-decoration: none; }
    .footer .nav a img {
      width: 0.5rem;
      height: 0.5rem; }
    .footer .nav a p {
      font-size: 0.24rem;
      font-family: "宋体";
      color: #949494;
      margin-bottom: 0; }
  .footer #home a p,
  .footer #my a p,
  .footer #mall a p {
    color: #fea31e; }

.top {
  text-align: center; }
  .top img {
    width: 100%;
    height: 100%; }

.personal-menu {
  padding-top: 0.2rem;
  padding-bottom: 0.35rem;
  border-bottom: 1px solid #d3d3d3; }
  .personal-menu .box {
    text-align: center;
    border-right: 1px solid #c2c2c2;
    padding-top: 0.28rem;
    padding-bottom: 0.16rem; }
    .personal-menu .box img {
      width: 0.46rem;
      height: 0.46rem; }
    .personal-menu .box p {
      margin-top: 0.2rem;
      margin-bottom: 0;
      font-size: 0.3rem; }
  .personal-menu .box:last-child {
    border: none; }

.other-function {
  background-color: #f8f8f8;
  padding-top: 0.25rem;
  padding-bottom: 9rem; }
  .other-function div {
    background-color: #ffffff;
    border-top: 1px solid #c2c2c2;
    border-bottom: 1px solid #c2c2c2;
    font-size: 0.3rem;
    padding-top: 0.15rem;
    padding-left: 0.25rem;
    padding-bottom: 0.28rem;
    position: relative;
    margin-bottom: 0.22rem; }
    .other-function div img {
      width: 0.46rem;
      height: 0.46rem;
      margin-right: 0.2rem; }
    .other-function div span {
      display: inline-block;
      transform: translateY(0.05rem); }
  .other-function div::after {
    content: '>';
    font-size: 0.5rem;
    color: #dadada;
    position: absolute;
    top: 0.05rem;
    right: 0.36rem; }
  .other-function #my-help {
    margin-bottom: 0;
    border-bottom: none; }

/*# sourceMappingURL=personal.css.map */
